{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}

<script src="https://kit.fontawesome.com/fc596df623.js" crossorigin="anonymous"></script>


<h2>Unspoken Words</h2>
<div class="timeline">

    <!--first-->
    <div class="timeline__event  animated fadeInUp delay-3s timeline__event--type1">
        <div class="timeline__event__icon ">
            <!-- <i class="lni-sport"></i>-->

        </div>
        <div class="timeline__event__date">
            October 2023
        </div>
        <div class="timeline__event__content ">
            <div class="timeline__event__title">
               Unspoken Words Begin: Love's Healing Touch
            </div>
            <div class="timeline__event__description">.
                <p>October is so special to me because it's the month I met you and the month we've been together as a couple. The first time I saw you, it felt like just you and me in this world. You're so kind and beautiful; I love the way you smile. Every weekend, we have movie marathons in my room because you hate going out; you're the type of person who prefers dating at home. I love you so much, and I hope November brings even more joy and happy moments for us. Tomorrow is November, and I'm so excited for the next month, especially for our first monthsary. Always remember that I really love you so much; you mean everything to me. I'm so grateful that you came into my life. You changed me from being depressed to a happy person. Thank you for healing all my pain. I love you</p>

                <!-- <p>She initiated our first conversation by asking about concert ticket prices. What began as a simple inquiry turned into a lively exchange. We ended up sharing stories and sharing a good laugh. It was an unexpectedly enjoyable start to our conversation journey.</p> -->
            </div>
        </div>
    </div>

    <!--second-->

    <div class="timeline__event animated fadeInUp delay-2s timeline__event--type2">
        <div class="timeline__event__icon">
            <!-- <i class="lni-sport"></i>-->

        </div>
        <div class="timeline__event__date">
            DATE
        </div>
        <div class="timeline__event__content">
            <div class="timeline__event__title">
                SAMPLE TITLE
            </div>
            <div class="timeline__event__description">
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vel, nam! Nam eveniet ut aliquam ab asperiores, accusamus iure veniam corporis incidunt reprehenderit accusantium id aut architecto harum quidem dolorem in!</p>
            </div>
        </div>
    </div>

    <!--third-->

    <div class="timeline__event animated fadeInUp delay-1s timeline__event--type3">
        <div class="timeline__event__icon">
            <!-- <i class="lni-sport"></i>-->

        </div>
        <div class="timeline__event__date">
            October 1988
        </div>
        <div class="timeline__event__content">
            <div class="timeline__event__title">
                Title
            </div>
            <div class="timeline__event__description">
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vel, nam! Nam eveniet ut aliquam ab asperiores, accusamus iure veniam corporis incidunt reprehenderit accusantium id aut architecto harum quidem dolorem in!</p>
            </div>

        </div>
    </div>

    <!--forth-->

    <div class="timeline__event animated fadeInUp timeline__event--type1">
        <div class="timeline__event__icon">
            <!-- <i class="lni-sport"></i>-->

        </div>
        <div class="timeline__event__date">
            October 1988
        </div>
        <div class="timeline__event__content">
            <div class="timeline__event__title">
                Title
            </div>
            <div class="timeline__event__description">
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vel, nam! Nam eveniet ut aliquam ab asperiores, accusamus iure veniam corporis incidunt reprehenderit accusantium id aut architecto harum quidem dolorem in!</p>
            </div>
        </div>
    </div>

    <!--first-->
    <div class="timeline__event  animated fadeInUp delay-3s timeline__event--type1">
        <div class="timeline__event__icon ">
            <!-- <i class="lni-sport"></i>-->

        </div>
        <div class="timeline__event__date">
            April 1989
        </div>
        <div class="timeline__event__content ">
            <div class="timeline__event__title">
                Title
            </div>
            <div class="timeline__event__description">
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vel, nam! Nam eveniet ut aliquam ab asperiores, accusamus iure veniam corporis incidunt reprehenderit accusantium id aut architecto harum quidem dolorem in!</p>
            </div>
        </div>
    </div>

    <!--second-->

    <div class="timeline__event animated fadeInUp delay-2s timeline__event--type2">
        <div class="timeline__event__icon">
            <!-- <i class="lni-sport"></i>-->

        </div>
        <div class="timeline__event__date">
            November 1990
        </div>
        <div class="timeline__event__content">
            <div class="timeline__event__title">
                Title
            </div>
            <div class="timeline__event__description">
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vel, nam! Nam eveniet ut aliquam ab asperiores, accusamus iure veniam corporis incidunt reprehenderit accusantium id aut architecto harum quidem dolorem in!</p>
            </div>
        </div>
    </div>

    <!--third-->

    <div class="timeline__event animated fadeInUp delay-1s timeline__event--type3">
        <div class="timeline__event__icon">
            <!-- <i class="lni-sport"></i>-->

        </div>
        <div class="timeline__event__date">
            October 1992
        </div>
        <div class="timeline__event__content">
            <div class="timeline__event__title">
                Title
            </div>
            <div class="timeline__event__description">
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vel, nam! Nam eveniet ut aliquam ab asperiores, accusamus iure veniam corporis incidunt reprehenderit accusantium id aut architecto harum quidem dolorem in!</p>
            </div>

        </div>
    </div>

    <!--forth-->

    <div class="timeline__event animated fadeInUp timeline__event--type1">
        <div class="timeline__event__icon">
            <!-- <i class="lni-sport"></i>-->

        </div>
        <div class="timeline__event__date">
            August 1995
        </div>
        <div class="timeline__event__content">
            <div class="timeline__event__title">
                Title
            </div>
            <div class="timeline__event__description">
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vel, nam! Nam eveniet ut aliquam ab asperiores, accusamus iure veniam corporis incidunt reprehenderit accusantium id aut architecto harum quidem dolorem in!</p>
            </div>
        </div>
    </div>

    <!--first-->
    <div class="timeline__event  animated fadeInUp delay-3s timeline__event--type1">
        <div class="timeline__event__icon ">
            <!-- <i class="lni-sport"></i>-->

        </div>
        <div class="timeline__event__date">
            June 1996
        </div>
        <div class="timeline__event__content ">
            <div class="timeline__event__title">
                Title
            </div>
            <div class="timeline__event__description">
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vel, nam! Nam eveniet ut aliquam ab asperiores, accusamus iure veniam corporis incidunt reprehenderit accusantium id aut architecto harum quidem dolorem in!</p>
            </div>
        </div>
    </div>

    <!--second-->

    <div class="timeline__event animated fadeInUp delay-2s timeline__event--type2">
        <div class="timeline__event__icon">
            <!-- <i class="lni-sport"></i>-->

        </div>
        <div class="timeline__event__date">
            July 2002
        </div>
        <div class="timeline__event__content">
            <div class="timeline__event__title">
                Title
            </div>
            <div class="timeline__event__description">
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vel, nam! Nam eveniet ut aliquam ab asperiores, accusamus iure veniam corporis incidunt reprehenderit accusantium id aut architecto harum quidem dolorem in!</p>
            </div>
        </div>
    </div>

    <!--third-->

    <div class="timeline__event animated fadeInUp delay-1s timeline__event--type3">
        <div class="timeline__event__icon">
            <!-- <i class="lni-sport"></i>-->

        </div>
        <div class="timeline__event__date">
            May 2006
        </div>
        <div class="timeline__event__content">
            <div class="timeline__event__title">
                Title
            </div>
            <div class="timeline__event__description">
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vel, nam! Nam eveniet ut aliquam ab asperiores, accusamus iure veniam corporis incidunt reprehenderit accusantium id aut architecto harum quidem dolorem in!</p>
            </div>

        </div>
    </div>

    <!--forth-->

    <div class="timeline__event animated fadeInUp timeline__event--type1">
        <div class="timeline__event__icon">
            <!-- <i class="lni-sport"></i>-->

        </div>
        <div class="timeline__event__date">
            November 2007
        </div>
        <div class="timeline__event__content">
            <div class="timeline__event__title">
                Title
            </div>
            <div class="timeline__event__description">
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vel, nam! Nam eveniet ut aliquam ab asperiores, accusamus iure veniam corporis incidunt reprehenderit accusantium id aut architecto harum quidem dolorem in!</p>
            </div>
        </div>
    </div>

    <!--first-->
    <div class="timeline__event  animated fadeInUp delay-3s timeline__event--type1">
        <div class="timeline__event__icon ">
            <!-- <i class="lni-sport"></i>-->

        </div>
        <div class="timeline__event__date">
            November 2009
        </div>
        <div class="timeline__event__content ">
            <div class="timeline__event__title">
                Title
            </div>
            <div class="timeline__event__description">
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vel, nam! Nam eveniet ut aliquam ab asperiores, accusamus iure veniam corporis incidunt reprehenderit accusantium id aut architecto harum quidem dolorem in!</p>
            </div>
        </div>
    </div>

    <!--second-->

    <div class="timeline__event animated fadeInUp delay-2s timeline__event--type2">
        <div class="timeline__event__icon">
            <!-- <i class="lni-sport"></i>-->

        </div>
        <div class="timeline__event__date">
            May 2010
        </div>
        <div class="timeline__event__content">
            <div class="timeline__event__title">
                Title
            </div>
            <div class="timeline__event__description">
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vel, nam! Nam eveniet ut aliquam ab asperiores, accusamus iure veniam corporis incidunt reprehenderit accusantium id aut architecto harum quidem dolorem in!</p>
            </div>
        </div>
    </div>

    <!--third-->

    <div class="timeline__event animated fadeInUp delay-1s timeline__event--type3">
        <div class="timeline__event__icon">
            <!-- <i class="lni-sport"></i>-->

        </div>
        <div class="timeline__event__date">
            November 2011
        </div>
        <div class="timeline__event__content">
            <div class="timeline__event__title">
                Title
            </div>
            <div class="timeline__event__description">
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vel, nam! Nam eveniet ut aliquam ab asperiores, accusamus iure veniam corporis incidunt reprehenderit accusantium id aut architecto harum quidem dolorem in!</p>
            </div>

        </div>
    </div>

    <!--forth-->

    <div class="timeline__event animated fadeInUp timeline__event--type1">
        <div class="timeline__event__icon">
            <!-- <i class="lni-sport"></i>-->

        </div>
        <div class="timeline__event__date">
            July 2012
        </div>
        <div class="timeline__event__content">
            <div class="timeline__event__title">
                Title
            </div>
            <div class="timeline__event__description">
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vel, nam! Nam eveniet ut aliquam ab asperiores, accusamus iure veniam corporis incidunt reprehenderit accusantium id aut architecto harum quidem dolorem in!</p>
            </div>
        </div>
    </div>

    <!--first-->
    <div class="timeline__event  animated fadeInUp delay-3s timeline__event--type1">
        <div class="timeline__event__icon ">
            <!-- <i class="lni-sport"></i>-->

        </div>
        <div class="timeline__event__date">
            November 2012
        </div>
        <div class="timeline__event__content ">
            <div class="timeline__event__title">
                Title
            </div>
            <div class="timeline__event__description">
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vel, nam! Nam eveniet ut aliquam ab asperiores, accusamus iure veniam corporis incidunt reprehenderit accusantium id aut architecto harum quidem dolorem in!</p>
            </div>
        </div>
    </div>

    <!--second-->

    <div class="timeline__event animated fadeInUp delay-2s timeline__event--type2">
        <div class="timeline__event__icon">
            <!-- <i class="lni-sport"></i>-->

        </div>
        <div class="timeline__event__date">
            November 2013
        </div>
        <div class="timeline__event__content">
            <div class="timeline__event__title">
                Title
            </div>
            <div class="timeline__event__description">
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vel, nam! Nam eveniet ut aliquam ab asperiores, accusamus iure veniam corporis incidunt reprehenderit accusantium id aut architecto harum quidem dolorem in!</p>
            </div>
        </div>
    </div>

    <!--third-->

    <div class="timeline__event animated fadeInUp delay-1s timeline__event--type3">
        <div class="timeline__event__icon">
            <!-- <i class="lni-sport"></i>-->

        </div>
        <div class="timeline__event__date">
            September 2015
        </div>
        <div class="timeline__event__content">
            <div class="timeline__event__title">
                Title
            </div>
            <div class="timeline__event__description">
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vel, nam! Nam eveniet ut aliquam ab asperiores, accusamus iure veniam corporis incidunt reprehenderit accusantium id aut architecto harum quidem dolorem in!</p>
            </div>

        </div>
    </div>

    <!--forth-->

    <div class="timeline__event animated fadeInUp timeline__event--type1">
        <div class="timeline__event__icon">
            <!-- <i class="lni-sport"></i>-->

        </div>
        <div class="timeline__event__date">
            December 2016
        </div>
        <div class="timeline__event__content">
            <div class="timeline__event__title">
                Title
            </div>
            <div class="timeline__event__description">
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vel, nam! Nam eveniet ut aliquam ab asperiores, accusamus iure veniam corporis incidunt reprehenderit accusantium id aut architecto harum quidem dolorem in!</p>
            </div>
        </div>
    </div>

    <!--first-->
    <div class="timeline__event  animated fadeInUp delay-3s timeline__event--type1">
        <div class="timeline__event__icon ">
            <!-- <i class="lni-sport"></i>-->

        </div>
        <div class="timeline__event__date">
            October 2017
        </div>
        <div class="timeline__event__content ">
            <div class="timeline__event__title">
                Title
            </div>
            <div class="timeline__event__description">
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vel, nam! Nam eveniet ut aliquam ab asperiores, accusamus iure veniam corporis incidunt reprehenderit accusantium id aut architecto harum quidem dolorem in!</p>
            </div>
        </div>
    </div>

    <!--second-->

    <div class="timeline__event animated fadeInUp delay-2s timeline__event--type2">
        <div class="timeline__event__icon">
            <!-- <i class="lni-sport"></i>-->

        </div>
        <div class="timeline__event__date">
            June 2019
        </div>
        <div class="timeline__event__content">
            <div class="timeline__event__title">
                Title
            </div>
            <div class="timeline__event__description">
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vel, nam! Nam eveniet ut aliquam ab asperiores, accusamus iure veniam corporis incidunt reprehenderit accusantium id aut architecto harum quidem dolorem in!</p>
            </div>
        </div>
    </div>

    <!--third-->

    <div class="timeline__event animated fadeInUp delay-1s timeline__event--type3">
        <div class="timeline__event__icon">
            <!-- <i class="lni-sport"></i>-->

        </div>
        <div class="timeline__event__date">
            February 2021
        </div>
        <div class="timeline__event__content">
            <div class="timeline__event__title">
                Title
            </div>
            <div class="timeline__event__description">
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vel, nam! Nam eveniet ut aliquam ab asperiores, accusamus iure veniam corporis incidunt reprehenderit accusantium id aut architecto harum quidem dolorem in!</p>
            </div>

        </div>
    </div>
    <!--forth-->

    <div class="timeline__event animated fadeInUp timeline__event--type1">
        <div class="timeline__event__icon">
            <!-- <i class="lni-sport"></i>-->

        </div>
        <div class="timeline__event__date">
            December 2016
        </div>
        <div class="timeline__event__content">
            <div class="timeline__event__title">
                Title
            </div>
            <div class="timeline__event__description">
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vel, nam! Nam eveniet ut aliquam ab asperiores, accusamus iure veniam corporis incidunt reprehenderit accusantium id aut architecto harum quidem dolorem in!</p>
            </div>
        </div>
    </div>

</div>
<audio autoplay loop>
    <source src="/static/music.mp3" type="audio/mpeg">
    Your browser does not support the audio element.
</audio>


{% endblock %}